body{
    margin: 0;
}

.img-fundo{
    background-image: url("../img/impulso-network-começar-a-programar.jpeg");
    background-size: cover ;
    background-position: center center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;

}
.menu{
    height: 50px;
    padding: 5px;
    border-width: 1px;
    border-style: inset;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    list-style: none;
    position: relative;
}
.menu ul{
    display: flex;
    justify-content: space-between;
}
.site-subtitle,
.site-title{
    text-align: center;
    color: black;
}

.site-subtitle{
    font-style: italic;
}
